* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(135, 211, 255);
}

.container {
    margin: 0 auto;
    max-width: 1500px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.box {
    aspect-ratio: 1;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    color: white;
    border-radius: 10px;
}

.fizz {
    background-color: aquamarine;
}

.buzz {
    background-color: rgb(163, 127, 255);
}

.fizzbuzz {
    background-color: rgb(140, 255, 127);
}

h1 {
    text-align: center;
    font-size: 70px;
    padding: 20px 0;
    color: white;
}